<div class="container">
  <nav>
    <ul class="header list-unstyled list-inline">
      <li ><h3 class="early_bird_logo"><%= link_to "Early Bird Patents", root_path  %></h3></li>
      
      <li class="nav_links"><%= link_to "PROCESS/PRICING", "#"  %></li>
      <li class="nav_links"><%= link_to "FAQ", "#"  %></li>
      <li class="nav_links"><%= link_to "Blog", "#"  %></li>
      <li class="nav_links"><%= link_to "About", "#"  %></li>
      <li class="nav_links"><%= link_to "Contact", new_contact_path  %></li>

    </ul>
  </nav>
</div>



